
.overlay(class = active ? 'active' : '')
header.header 
    .container
        .flex-center-between
            .d-flex.align-items-center
                button.burger(type="button")
                    span.burger-line.burger-top
                    span.burger-line.burger-center
                    span.burger-line.burger-bottom
                a.logo.align-items-center(href="#")
                    img.logo__img-icon(src="img/logo/icon.svg", alt="logo")
                    img.logo__img(src="img/logo/logo_100x30.svg", alt="logo")
            ul.menu
                li.menu-item
                    a.menu-link(href="#") About Us
                li.menu-item
                    a.menu-link(href="#") Attorneys  
                    .dropdown(class = active ? 'active' : '')
                        .dropdown-container.justify-content-between.flex-wrap
                            ul.list.mw-500 
                                li
                                    ul.dropdown_lv2.flex-wrap.w-100  
                                        li
                                            a(href="#")
                                                +icon("arrow") 
                                                span Daniel Cohen
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span  Joseph Mizrahi
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Edward Kroub
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span  Moshe Boroosan
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Yosef Steinmetz
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Jonathan Weiss
                                        li
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Diana Goodwin
                                        li
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Naomi Jawahar
                li.menu-item
                    a.menu-link(href="#") Practice Areas
                    .dropdown(class = active ? 'active' : '')
                        .dropdown-container.justify-content-between.flex-wrap
                            ul.list.w-33 
                                li.list-item 
                                    p.fs-18.fw-semi Debt Collection Harassment and Abuse
                                    ul.dropdown_lv2  
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Unlawful Debt Collection / Harassment
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Mortgage Servicing Abuse
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Debt Relief and Negotiation
                                li.list-item 
                                    p.fs-18.fw-semi Unlawful Credit Reporting
                                    ul.dropdown_lv2  
                                        li 
                                            a(href="#")
                                                +icon("arrow") 
                                                span Credit Reporting Errors
                                        li
                                            a(href="#") 
                                                +icon("arrow") 
                                                span  Mixed Credit Reports
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Identity Theft
                                        li
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Bankruptcy Reporting Errors
                                li.list-item 
                                    p.fs-18.fw-semi Bankruptcy
                                    ul.dropdown_lv2  
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Chapter 7
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Chapter 13
                                li.list-item 
                                    p.fs-18.fw-semi Innacurate Background Checks
                                    ul.dropdown_lv2  
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Landlord Background Checks
                                        li
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Employer Background Checks
                                
                                li.list-item 
                                    p.fs-18.fw-semi Telemarketer Harassment
                                    ul.dropdown_lv2  
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Robo-calls and Autodialers
                                        li
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Spam Text and Junk Fax 
                                
                                li.list-item
                                    a.fs-18.fw-semi(href="#") Data Breach Litigation
                                    a.fs-18.fw-semi(href="#") Consumer Finance Litigation
                                    a.fs-18.fw-semi(href="#") Class Actions
                                    a.fs-18.fw-semi(href="#") Personal Injury
                                    a.fs-18.fw-semi(href="#") Americans with Disabilities Act
                li.menu-item
                    a.menu-link(href="#") Articles and Reviews
                    .dropdown.right-mob(class = active ? 'active' : '')
                        .dropdown-container.justify-content-between.flex-wrap
                            ul.list.mw-720 
                                li.w-100 
                                    p.fs-18.fw-semi Latest Articles
                                    ul.dropdown_lv2.flex-wrap  
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span How to Delete Inquiries From Your Credit Report
                                        li
                                            a(href="#")
                                                +icon("arrow") 
                                                span Personal Injury in Car Accidents
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span ADA Disabled Peoples Accessibility Rights
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Disabled People Lack Adequate Access to the World Wide Web
                                        li
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Americans with Disabilities Website Accessibility Problems
                                        li
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Creditors Collecting on Payday Loans
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Identity Theft How Does it Happen - How to Fix It
                                        li
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Debt Collectors Collection Letters
                                        li 
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Bankruptcy: Chapter-13
                                        li
                                            a(href="#") 
                                                +icon("arrow") 
                                                span Bankruptcy: Chapter 7
                        .dropdown-bottom 
                            a.btn.btn-2.green.mx-auto(href="#") read it all
                li.menu-item
                    a.menu-link(href="#") Contact Us
                li.menu-item.show-lg
                    button.btn.bg-green(type="button") INTAKE FORM

                li(class = social ? 'social' : 'social show-lg')
                    a.social-link(href="#")
                        +icon("facebook")
                    a.social-link(href="#")
                        +icon("twitter")
                    a.social-link(href="#")
                        +icon("instagram")

            .align-items-center 
                a.search(href="#")
                    +icon("search")
                a.btn-phone(href="tel:8006040466")
                    .btn-phone_icon
                        img(src="img/phone_call.png", alt="phone call")
                    div 
                        p.fs-10.fw-semi.c-white FREE 
                            br.d-llg-none.d-block
                            |CASE CONSULTATION
                        p.fs-18.fw-bold.c-white 800-604-0466
                //- button.btn.bg-green.hide-lg(type="button") INTAKE FORM

       
