
.overlay(class = active ? 'active' : '')
header.header 
    .container
        .flex-center-between
            button.burger(type="button")
                span.burger-line.burger-top
                span.burger-line.burger-center
                span.burger-line.burger-bottom
            a.logo.align-items-center(href="#")
                img.logo__img-icon(src="img/logo/icon.svg", alt="logo")
                img.logo__img(src="img/logo/logo_100x30.svg", alt="logo")
            ul.menu
                li.menu-item
                    a.menu-link(href="#") About Us
                li.menu-item
                    a.menu-link(href="#") Attorneys  
                    .dropdown(class = active ? 'active' : '')
                        .dropdown-container.justify-content-between.flex-wrap
                            ul.list 
                                li.list-item 
                                    a(href="#")
                                        +icon("arrow") 
                                        span Daniel Cohen
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span  Joseph Mizrahi
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Edward Kroub
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span  Moshe Boroosan
                            ul.list 
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Yosef Steinmetz
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Jonathan Weiss
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Diana Goodwin
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Naomi Jawahar
                li.menu-item
                    a.menu-link(href="#") Practice Areas
                    .dropdown(class = active ? 'active' : '')
                        .dropdown-container.justify-content-between.flex-wrap
                            ul.list.w-33 
                                li
                                    p.fs-18.fw-semi Consumer Finance Litigation
                                li
                                    p.fs-18.fw-semi Unlawful Credit Reporting
                                li.list-item 
                                    a(href="#")
                                        +icon("arrow") 
                                        span Credit Reporting Errors
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span  Mixed Credit Reports
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Identity Theft
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Bankruptcy Reporting Errors
                                li
                                    p.fs-18.fw-semi Innacurate Background Checks
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Landlord Background Checks
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Employer Background Checks
                            ul.list.w-33 
                                li
                                    p.fs-18.fw-semi Debt Collection Harassment and Abuse
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Unlawful Debt Collection / Harassment
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Mortgage Servicing Abuse
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Debt Relief and Negotiation
                                li
                                    p.fs-18.fw-semi Telemarketer Harassment

                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Robo-calls and Autodialers
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Spam Text and Junk Fax
                            ul.list.w-33 
                                li
                                    p.fs-18.fw-semi Bankruptcy
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Chapter 7
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Chapter 13
                                li
                                    p.fs-18.fw-semi Data Breach Litigation
                                li
                                    p.fs-18.fw-semi Class Actions
                                li
                                    p.fs-18.fw-semi Americans with Disabilities Act
                                li
                                    p.fs-18.fw-semi Personal Injury
                li.menu-item
                    a.menu-link(href="#") Articles and Reviews
                    .dropdown.right-mob(class = active ? 'active' : '')
                        .dropdown-container.justify-content-between.flex-wrap
                            ul.list 
                                li
                                    p.fs-18.fw-semi Latest Articles
                                li.list-item 
                                    a(href="#")
                                        +icon("arrow") 
                                        span Personal Injury in Car Accidents
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Disabled People Lack Adequate Access to the World Wide Web
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span ADA Disabled Peoples Accessibility Rights
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Americans with Disabilities Website Accessibility Problems
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Creditors Collecting on Payday Loans
                            ul.list 
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span How to Delete Inquiries From Your Credit Report
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Identity Theft How Does it Happen - How to Fix It
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Debt Collectors Collection Letters
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Bankruptcy: Chapter-13
                                li.list-item 
                                    a(href="#") 
                                        +icon("arrow") 
                                        span Bankruptcy: Chapter 7
                        .dropdown-bottom 
                            a.btn.btn-2.green.mx-auto(href="#") read it all
                li.menu-item
                    a.menu-link(href="#") Contact Us
                li.menu-item.show-lg
                    button.btn.bg-green(type="button") INTAKE FORM

                li(class = social ? 'social' : 'social show-lg')
                    a.social-link(href="#")
                        +icon("facebook")
                    a.social-link(href="#")
                        +icon("twitter")
                    a.social-link(href="#")
                        +icon("instagram")

            .align-items-center 
                a.search(href="#")
                    +icon("search")
                button.btn.bg-green.hide-lg(type="button") INTAKE FORM

       
