.btn 
    padding: 0 13px
    line-height: 40px
    background-color: #44b64b
    border-radius: 3px
    color: #fff
    min-width: 180px 
    display: block
    width: fit-content
    text-align: center
    text-transform: uppercase
    font-size: 14px
    position: relative
    svg 
        width: 20px
        height: 20px
        fill: #ffffff
        transform: scaleX(-1)
    &:hover 
        color: #fff
    &.bg-gray 
        color: #404040
        display: flex 
        align-items: center
        padding: 0 30px
        svg 
            fill: #44b64b
            transform: rotate(90deg)
            width: 20px 
            height: 15px
            stroke-width: 2px
        span 
            margin-left: 5px
.btn-2 
    border: 2px solid #ffffff
    border-radius: 5px
    line-height: 56px
    background: none
    min-width: 285px
    font-size: 18px
    &.green 
        border-color: #44b64b
        color: #44b64b
        min-width: 160px
        line-height: 36px
        font-weight: 600
        font-size: 14px


.btn-send
    svg 
        transform: none
        position: absolute
        top: 50% 
        right: 10px
        transform: translateY(-50%)

.btn-back 
    margin-bottom: 20px
    background: transparent
    display: none
    svg 
        height: 20px 
        width: 20px 
        transform: scaleX(-1)
        transition: all 0.3s ease
    &:hover svg 
        fill: #44b64b

.btn-phone
    display: flex 
    align-items: center 
    text-align: left
    color: #fff
    background-color: #44b64b
    border-radius: 3px
    .c-white
        padding: 0 10px
        line-height: 1
    .fs-18
        padding-top: 3px
        letter-spacing: 0.04em
    &_icon 
        border-right: 1px dashed #329739
        margin: 14px 0
        padding: 0 12px
        img 
            width: 22px 
            height: 22px 

.btn-file 
    background-color: #f4f4f4
    border: 1px solid #adacac
    border-radius: 3px
    font-size: 16px
    line-height: 48px
    font-weight: 400
    color: #404040
    padding: 0 24px
    width: fit-content
    display: block
    cursor: pointer

