
/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1025px)
    .d-llg-none  
        display: none
@media only screen and (max-width: 1469px)
    .offer__right 
        width: 59.4vw
        height: 32.5vw
        margin-top: auto
    .menu-link
        font-size: 14px
    .search
        margin-right: 20px
    .logo__img-icon 
        width: 40px
    .logo__img
        width: 120px
        height: 36px
        margin-left: 15px
    .card img
        height: 13.6vw
    .video 
        margin: 0 -15px 38px
    .dropdown
        max-width: 72.5vw
@media only screen and (max-width: 1199px)
    .menu 
        margin-right: auto
        margin-left: 20px
    .logo__img
        display: none
    .footer-col
        width: calc(50% - 15px)
        margin-bottom: 30px
        &:nth-child(2n+2)
            margin-right: 0
    .partice-areas
        padding: 40px 15px
    .partner-main
        padding: 40px 15px 10px
    .card, .card:nth-child(3n+3) 
        width: calc(50% - 15px)
        margin-right: 30px
        &:nth-child(2n+2)
            margin-right: 0
    .card img
        height: 18vw
            
    .dropdown
        max-width: 100% 
        width: 100%
        left: 0 
        transform: none
        padding: 20px
        min-width: 680px 

    .dropdown.right-mob
        left: 50% 
        transform: translateX(-50%)
    .dropdown-container .list.w-33 .list-item
        width: 50%
@media only screen and (max-width : 1024px)
    .btn-phone_icon 
        padding-right: 8px
    .btn-phone 
        .c-white
            padding: 0 9px 0 7px
        .fs-18 
            font-size: 14px
            padding-top: 1px
@media only screen and (max-width : 991px)
    p 
        font-size: 14px
        line-height: 18px
    .header 
        padding: 10px 0
    .burger 
        display: block
    .menu 
        position: fixed 
        top: 0 
        left: 0 
        width: 100% 
        height: 100% 
        z-index: 8 
        margin: 0 
        padding: 60px 15px
        background: #ffffff
        opacity: 0 
        pointer-events: none 
        transition: all 0.3s ease
        display: block
        transform: translateX(-100px)
        overflow-y: auto
        &.active 
            opacity: 1 
            pointer-events: auto
            transform: translateX(0)
        .btn
            margin-top: 30px
    .show-lg
        display: block
    .hide-lg
        display: none
    .logo__img-icon
        display: none 
    .logo__img
        display: block
    .search 
        display: none 
    .logo__img
        height: 32px
        width: 110px
    .menu-link
        height: auto
        padding: 20px 0
    .header .social
        position: initial
        display: flex
        padding-top: 40px
        padding-left: 10px
    .header .social-link
        border-color: #191514
        margin-right: 15px
        &:hover 
            border-color: #44b64b
            svg 
                fill: #44b64b
    .header .social-link svg
        fill: #191514
    .offer
        min-height: 530px
        padding: 40px 15px
        .fs-50 
            font-size: 41px
            line-height: 41px
    .line-green
        width: 150px
        margin-right: 15px
    .line-dotted
        width: calc(100% - 165px)
    .about
        margin-top: -40px
    .icon-check 
        width: 40px
        height: 36px
    .offer .btn-2 
        margin-top: 30px
        min-width: fit-content
    .fs-18
        font-size: 16px
        line-height: 18px
    .offer__container 
        justify-content: space-between
    .about
        padding-top: 45px
        padding-bottom: 120px
    .title
        font-size: 24px
        padding-bottom: 20px
    .about__text 
        margin: 40px auto 16px
    .about__img
        height: 305px
        width: fit-content
    .practice-item img 
        width: 60px 
        height: 60px
        margin-bottom: 25px
    .partner-avatar 
        width: 350px
        height: 480px
    .partner-img 
        height: 440px
    .partner-check
        width: 40px
        top: 52px
    .tab
        margin-right: 10px
        font-size: 14px
        min-width: 160px
        line-height: 30px
    .review-avatar
        width: 90px 
        height: 90px
        margin-bottom: 10px
    .slick-slide img
        width: 80px 
        height: 80px
    .review-item p
        line-height: 18px
    .review-head
        padding-bottom: 20px
        margin-bottom: 22px
    .review 
        padding: 50px 0
        min-height: 580px
    .questions-container 
        padding: 5px 35px
    .answer p
        line-height: 19px
    .contact-row 
        padding-top: 60px
    .contact .form
        width: 100%
    .contact-info
        padding-left: 0
        padding-top: 40px
    .contact
        padding-bottom: 50px
    .logo__img 
        margin-left: 6px
    .partice-areas__item 
        width: calc(50% - 15px)
        &:nth-child(2n+2)
            margin-right: 0
    .edu 
        width: 50%
    .section-error img
        max-width: 300px
    .privacy-policy__block
        padding: 40px 15px
    .table-left, .table_v2 .table-left
        width: 200px
    .table-right, .table_v2 .table-right 
        width: calc(100% - 200px)
    .table-item
        padding: 0 15px
    .table-main:before
        left: 15px
    .table-td 
        padding: 15px 0
    .privacy-policy__content p
        line-height: 18px
    .privacy-policy__content
        margin-bottom: 30px
        .list-item 
            font-size: 14px
    .about_v2
        padding-bottom: 155px
    .about_content
        padding: 240px 0 90px
    .table-td p
        line-height: 18px 
        font-size: 14px
    .areas-list .fs-18
        padding: 0 10px 20px
        width: calc(100% - 50px)
    .areas-item
        padding: 0 15px
    .areas-item img
        width: 25px 
        height: 25px 
        margin-right: 10px
    .areas-item__text
        padding-left: 10px
    .areas-list
        width: 265px 
    .areas-right 
        width: calc(100% - 265px)
    .areas-right .card img
        width: 100% 
        height: 18vw
    .card, .card:nth-child(3n+3) 
        width: calc(50% - 10px)
        margin-right: 20px
        margin-bottom: 20px
        &:nth-child(2n+2)
            margin-right: 0
    .card__content 
        margin: 20px 0 30px  
        padding: 0 15px
    .areas-right 
        padding: 35px 15px 60px       
    .partner-left
        width: 365px
    .partner-right_v2
        width: calc(100% - 365px - 15px)  
    .partner-left__text
        max-width: 340px 
        margin: 20px auto 50px
    .article-left 
        max-width: 100% 
        margin: 0
    .article-img 
        margin: 30px auto 0
    .video iframe 
        height: 450px
    .article-info__item
        margin-right: 20px
    .dropdown
        position: initial
        padding: 15px
        border-bottom: 1px solid #e6e6e6
        display: none 
        background-color: transparent
    .dropdown-bottom
        background: none 
        padding: 0
    .dropdown-container
        padding-bottom: 0
    .menu-link:hover ~ .dropdown, .dropdown:hover
        display: block
        opacity: 1 
        pointer-events: auto
    .overlay
        display: none
    .our-offices__item
        width: 33.33%
    .our-offices__bottom .our-offices__item
        width: 50%
    .our-offices__item
        margin: 20px 0
    .dropdown
        padding: 20px 15px
        min-width: auto 
    .dropdown.right-mob
        left: 0
        transform: none
    .upload-letter
        padding: 40px 15px 90px
    .upload-letter .box .fs-18
        line-height: 23px
@media only screen and (max-width: 767px)
    .footer-col
        width: 100% 
        margin: 20px 0
    .offer
        min-height: 420px
    .offer .fs-50
        font-size: 36px
        line-height: 35px
    .btn-2
        line-height: 41px
    .partner-avatar 
        width: 310px
        height: 420px
        margin: 0 auto
    .partner-img 
        height: 400px
    .partner-check
        width: 40px
        top: 66px
    .paginate
        height: 50px
        width: 210px
    .practice
        padding-bottom: 90px
    .btn-arrow
        margin: 0 20px
    .partner
        padding: 50px 0
    .partner .title
        margin-bottom: 50px
    .partner-content
        padding-top: 50px
    .partner-item .w-100 
        flex-wrap: wrap
    .areas
        width: 50%
        margin-top: 25px
    .answer-content
        padding-left: 15px
    .partice-areas__item 
        width: 100%
        max-width: 380px
        margin: 0 auto 20px!important
        &:last-child
            margin-bottom: 0!important
    .partice-areas__item img 
        height: 55vw
    .partice-areas__content
        padding: 20px 15px
    .partner-main .w-100 
        flex-wrap: wrap 
    .edu 
        width: 100%
        margin: 0 
        padding: 20px 15px
        border-right: 0
        border-bottom: 1px solid #e6e6e6
    .section-error
        padding: 50px 0 80px
    .section-error img
        margin: 45px auto 30px
    .btn svg
        margin-right: 15px
    .section-error__text
        font-size: 14px
        line-height: 21px
    .section-error .btn
        padding-right: 13px
        margin-top: 30px
    .privacy-policy__content
        padding-left: 15px
    .table-left, .table_v2 .table-left
        width: 160px
    .table_v2 .table-right
        width: calc(100% - 160px)
    .d-md-none
        display: none!important
    .w-md-50
        width: 100%
    .flex-md-column-reverse
        flex-direction: column-reverse
    .about_content__img
        height: auto 
    .about_content .container
        max-width: 575px
    .about_content__text, .about_content__text_v2
        max-width: 100% 
        padding: 0 
        margin: 30px 0 60px
    .about_content
        padding: 240px 0 0
    .pt-90
        padding-top: 50px
    .text-content
        padding-left: 15px
    .partner-left 
        width: 310px
        margin: 0 auto
        padding-bottom: 20px
        .partner-avatar 
            margin-bottom: 30px
    .partner-right_v2
        width: calc(100% - 310px - 15px)
    .partner-right_v2 
        width: 100% 
    .areas-list 
        width: 100%
        padding: 35px 0
        transition: all 0.3s ease
        &.hide
            position: absolute
            right: 100%
            opacity: 0
    .areas-right 
        position: absolute
        left: 100%
        width: 100%
        top: 0
        transition: all 0.3s ease
        &.active 
            left: 0
            opacity: 1
            position: static
    .btn-back 
        display: block
    .article-img
        width: 100%
    .comments-item__content 
        width: calc(100% - 20px)
    .avatar 
        width: 80px 
        height: 80px
    .dropdown-container .list
        width: 100%
        padding: 0
    .our-offices__item
        width: 50%
    #map
        height: 400px
    .dropdown .dropdown_lv2 li
        width: 100%
    .dropdown-container .list-item
        padding-left: 0
    .dropdown-container .list.w-33 .list-item
        width: 100%
        padding-right: 0
    .dropdown-container
        min-width: auto
    .offer__right 
        background: url("../img/main_photo.png") no-repeat center / contain
    .upload-letter .box
        padding: 40px 10px
@media only screen and (max-width: 575px)
    .footer-top
        padding: 15px 0px 25px
    .footer__contact 
        max-width: 250px
        margin: 0 auto 47px
        p 
            font-size: 14px
            line-height: 18px
    .footer__contact-row
        margin-bottom: 15px
    .footer__contact svg
        width: 25px
        height: 25px
        margin-right: 10px
    .footer-link, .footer-main
        font-size: 14px
    .footer-bottom
        text-align: center
        padding: 28px 0
        display: block
        .c-white
            max-width: 250px
            margin: 0 auto
    .footer-bottom-menu 
        display: block
        margin: 20px auto 0
    .footer-bottom-link
        margin: 15px 0 
        border: none 
        padding: 0
    .btn-2
        font-size: 16px
        
    .areas
        width: 100%
    .partner-avatar
        width: 260px
        height: 390px
    .partner-img 
        height: 340px
    .partner-right
        padding-top: 25px
    .questions-container
        padding: 5px 15px
    .form label
        margin-bottom: 15px
    .half-50 
        width: 100%
        margin-right: 0
    .about__img
        left: calc(50% + 21px)
    .contact-info svg
        margin-right: 20px
    
    .partner-main 
        padding-top: 0
        .partner-right
            padding-top: 0
    .sitemap-accordion, .sitemap-main
        padding-left: 15px
    .sitemap-img
        margin-right: 15px
    .sitemap-item svg
        margin-right: 16px
    .sitemap-drop
        padding-left: 30px
    .sitemap__block
        padding: 40px 15px
    .img-femida
        width: 100px 
        height: 140px
    .practice-areas .fs-30
        font-size: 21px
    .partner-left .partner-avatar
        margin-bottom: 0
    .form-title
        font-size: 14px 
        line-height: 18px
    .areas-right
        .card 
            width: 100% 
            margin: 0 0 10px 0
            object 
                display: flex 
            img
                width: 80px 
                height: auto 
                max-height: 90px
                margin: 0 10px 0 0
    .card__content
        margin: 15px 0
        padding: 0 10px 
        border-width: 2px
    .card__text
        font-size: 12px
        line-height: 16px
    .areas-right__head
        margin-bottom: 20px
    .shield-icon
        height: 20px 
        width: 20px
    .shield
        width: 40px
        margin-right: 15px
        height: 60px
    .areas-right__head .relative
        padding-bottom: 15px
    .video 
        padding: 15px
    .video iframe
        height: 280px
    .article 
        margin: 20px auto
        padding: 40px 15px
    .comments-item
        display: block
        padding: 25px 0
    .comments-item__content 
        margin: 15px 0 0 0
        width: 100%
    time 
        font-size: 13px 
        line-height: 16px
        svg 
            height: 15px
    .article-info__item 
        svg 
            height: 15px
        p 
            font-size: 13px
    .list-item
        font-size: 14px
        line-height: 18px
    .block-gray
        padding: 10px
    .our-offices__item, .our-offices__bottom .our-offices__item, .dropdown-container .list.w-33
        width: 100%
    .dropdown-container .list.w-33
        margin-right: 0
    .dropdown
        padding: 20px 0
    .dropdown .dropdown_lv2 li:hover svg
        width: 15px
        margin-right: 10px
    .dropdown .dropdown_lv2 li
        font-size: 14px
        margin-bottom: 6px
    .dropdown .dropdown_lv2 li
        top: 9px
    .offer
        padding-bottom: 0
        overflow: hidden
        background-image: url("../img/background.jpg")
    .offer__container
        display: block
    .offer__right 
        width: calc(100% + 73.6vw)
        height: 105vw
        margin: 13.8vw -37.5vw 0
    .form label .mb-20.d-block 
        margin: 10px 0
    .upload-letter .box .fs-18
        font-size: 14px 
        line-height: 22px
@media only screen and (max-width: 359px)
    .btn-phone_icon
        padding: 0 10px
    .btn-phone_icon img
        width: 18px
        height: 18px
    .logo__img
        height: 100%
        width: 91px
    .btn-phone .fs-10 
        font-size: 9px
    .btn-phone .fs-18 
        font-size: 13px

    
