extends layout/main

block variables
	-var title = 'Главная страница'
	-var social = true

block content
	section.offer 
		.offer__container.align-items-center
			.offer__left 
				h1.fs-50.fw-bold.text-up.c-white CONSUMER <br> ATTORNEYS
				.align-items-center.my-10.ml--30
					.line-green 
					.line-dotted 
					img.icon-check(src="img/tick.svg", alt="tick")
				p.fs-18.c-white.max-300 Are a group of wise and knowledgeable attorneys that help a consumer resolve credit report problems
				a.btn.btn-2(href="#") free consultation
			img.offer__right(src="img/layer_34_5701.png", alt="img")
	.container
		section.about
			h2.title About Us
			p.about__text Audiam commodo eu mel, eam dolor altera cu. Tibique antiopam efficiantur sea ut, wisi velit prompta ut qui. An consul laudem his, posse vitae ex nec. Cu usu falli aperiri, alia prompta vocibus nam an. Ne discere eleifend consectetuer ius, mei phaedrum singulis euripidis in. Porro dolorum erroribus eum ad, ignota doctus te mel.
			img.about__img(src="img/femida.png", alt="femida")
		section.practice
			h2.title Practice Areas
			.slider.slider-practice
				.practice-item 
					img(src="img/practice/serv_shield.svg", alt="icon")
					h3.fs-18.fw-semi.text-center Data <br> Protection
					p.text-center Odio saperet electram duo at, suas commodo molestie ei mea, te pri fabellas accusamus definitiones.
				.practice-item 
					img(src="img/practice/serv_money.svg", alt="icon")
					h3.fs-18.fw-semi.text-center Tracker Mortgage <br> Overcharging 
					p.text-center Erat scripta argumentum ad vel. Corpora expetenda eloquentiam ne per. Usu ex volumus interesset intellegebat.
				
				.practice-item 
					img(src="img/practice/serv_man.svg", alt="icon")
					h3.fs-18.fw-semi.text-center Personal <br> Injury
					p.text-center Quas volumus et pri, ex has nostrud mnesarchum, no has laboramus sententiae repudiandae. Augue maluisse.
				.practice-item 
					img(src="img/practice/search_diploma.svg", alt="icon")
					h3.fs-18.fw-semi.text-center Probate
					p.text-center His eu utinam integre. Iudico invidunt at mel, ne habeo antiopam eum. Duo te assum putent nonumes, possit.
				.practice-item 
					img(src="img/practice/serv_help.svg", alt="icon")
					h3.fs-18.fw-semi.text-center Public <br> Inquiries
					p.text-center Doming graeco disputando ea usu, an nec sapientem scriptorem theophrastus. Dolorem democritum id est.
				
				.practice-item 
					img(src="img/practice/serv_shield.svg", alt="icon")
					h3.fs-18.fw-semi.text-center Data <br> Protection
					p.text-center Odio saperet electram duo at, suas commodo molestie ei mea, te pri fabellas accusamus definitiones.
				.practice-item 
					img(src="img/practice/serv_money.svg", alt="icon")
					h3.fs-18.fw-semi.text-center Tracker Mortgage <br> Overcharging 
					p.text-center Erat scripta argumentum ad vel. Corpora expetenda eloquentiam ne per. Usu ex volumus interesset intellegebat.
				
			.paginate
				button.btn-arrow.btn-prev(type="button" data-index="1")
					+icon("arrow")
				.paginate-left 
				.paginate-center /
				.paginate-right
				button.btn-arrow.btn-next(type="button" data-index="1")
					+icon("arrow")
	section.partner 
		.container 
			h2.title our Partner
			ul.tabs
				li.tab.active Edward Y. Kroub
				li.tab Daniel C. Cohen
				li.tab Yosef Steinmetz
				li.tab Edward Y. Kroub
				li.tab Moshe O. Boroosan
				li.tab Shlomit Buchinsky
				li.tab Joseph H. Mizrahi
			ul.partner-content
				li.partner-item.active 
					.justify-content-between.w-100
						.partner-border 
							img.partner-img(src="img/rectangle_img.png", alt="img")
							img.partner-check(src="img/tick.svg", alt="tick")
						.partner-right
							h3.fs-30.fw-medium Daniel C. Cohen
							p is a founding partner of the Firm and is co-chair of the Firm’s consumer finance litigation department. Mr. Cohen also spearheads the firm’s client intake and development programs. Mr. Cohen has served as class-counsel in numerous consumer law class-actions and in that role has obtained significant monetary and non-monetary relief on behalf of consumers nationwide. Mr. Cohen also litigates cases on behalf of individual consumers and on behalf of the visually impaired, vindicating their rights under the Americans with Disabilities Act (ADA).

							p Mr. Cohen earned his Bachelor of Arts degree in Humanities from Thomas Edison State College, where he graduated with national honors. Mr. Cohen earned his Juris Doctor degree from Sandra Day O’Connor College of Law, Arizona State University in 2015. Mr. Cohen is a member of the bar of the states of New York and Arizona.

							p Mr. Cohen is well-respected among his peers and has served as an active member of both the National Association of Consumer Advocates (NACA) and the National Consumer Law Center (NCLC) for the past three years.
							a.btn(href="#") free consultation
					hr
					.flex-wrap 
						.areas 
							h4.fs-18.fw-semi Practice Areas:
							ul.list 
								li.list-item Fair Credit Reporting Act
								li.list-item Fair Debt Collection Practices Act
								li.list-item Personal Injury
						.areas 
							h4.fs-18.fw-semi Admissions:
							ul.list 
								li.list-item Arizona
								li.list-item New York
								li.list-item Eastern District of New York
								li.list-item Southern District of New York
								li.list-item Northern District of New York
						.areas 
							h4.fs-18.fw-semi Education:
							ul.list 
								li.list-item Thomas Edison State College – B.A.
								li.list-item Sandra Day O’Connor College of Law, Arizona  State University – J.D.
	section.review
		.container
			h2.title.c-white What our clients say
			.slider.slider-review
				.review-item
					.review-avatar 
						img(src="img/avatar.png", alt="avatar")
					.review-head
						p.fs-18.c-white.fw-bold Steven Forest
						p.c-white-light Product manager
					p.c-white.text-center Sed iusto dicunt officiis ei, ei qui labore aliquando. Vis in elitr appareat, ea hinc semper singulis eos. Ei eum quodsi accumsan, nostro appetere praesent cum id. Ne pericula adolescens mea. Qui an tollit bonorum voluptatum, ad quo...
						+icon("quote")
				.review-item
					.review-avatar 
						img(src="img/avatar.png", alt="avatar")
					.review-head
						p.fs-18.c-white.fw-bold Steven Forest
						p.c-white-light Product manager
					p.c-white.text-center Sed iusto dicunt officiis ei, ei qui labore aliquando. Vis in elitr appareat, ea hinc semper singulis eos. Ei eum quodsi accumsan, nostro appetere praesent cum id. Ne pericula adolescens mea. Qui an tollit bonorum voluptatum, ad quo...
						+icon("quote")

				.review-item
					.review-avatar 
						img(src="img/avatar.png", alt="avatar")
					.review-head
						p.fs-18.c-white.fw-bold Steven Forest
						p.c-white-light Product manager
					p.c-white.text-center Odio sumo esse no nam, cu sit unum doming democritum, id simul dictas vituperatoribus sit. Incorrupte constituam ad sit, mei ex commune inciderint, sed te iracundia interesset. Tollit putent alterum id has. Nibh placerat duo no, elit.
						+icon("quote")

				.review-item
					.review-avatar 
						img(src="img/avatar.png", alt="avatar")
					.review-head
						p.fs-18.c-white.fw-bold Steven Forest
						p.c-white-light Product manager
					p.c-white.text-center Sed iusto dicunt officiis ei, ei qui labore aliquando. Vis in elitr appareat, ea hinc semper singulis eos. Ei eum quodsi accumsan, nostro appetere praesent cum id. Ne pericula adolescens mea. Qui an tollit bonorum voluptatum, ad quo...
						+icon("quote")

				.review-item
					.review-avatar 
						img(src="img/avatar.png", alt="avatar")
					.review-head
						p.fs-18.c-white.fw-bold Steven Forest
						p.c-white-light Product manager
					p.c-white.text-center Ctation nostrum consequat ne sed, sit aeterno accusamus eu. Aeque copiosae ei nam, his sint molestiae concludaturque an, vix lorem bonorum laoreet ea. Tollit putent alterum id has. Nibh placerat duo no, elit.
						+icon("quote")

			.paginate
				button.btn-arrow.btn-prev(type="button" data-index="2")
					+icon("arrow")
				.paginate-left 
				.paginate-center /
				.paginate-right
				button.btn-arrow.btn-next(type="button" data-index="2")
					+icon("arrow")
	section.questions 
		.container 
			h2.title Question 
				span.c-gray /  
				| Answer
			ul.questions-container
				li
					.question
						p.fw-semi Eum exerci maluisset in 
						+icon("angle-down-solid")
					.answer 
						.answer-content
							p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

							p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

							p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.

				li
					.question
						p.fw-semi Ex tation facete eum
						+icon("angle-down-solid")
					.answer 
						.answer-content
							p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

							p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

							p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.
				li
					.question 
						p.fw-semi Putent explicari definitionem et eum
						+icon("angle-down-solid")
					.answer 
						.answer-content
							p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

							p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

							p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.
				li
					.question 
						p.fw-semi Vis nusquam insolens electram ne, ius no posse munere doctus
						+icon("angle-down-solid")
					.answer 
						.answer-content
							p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

							p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

							p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.
				li
					.question
						p.fw-semi Vim vero erant vocent id
						+icon("angle-down-solid")
					.answer 
						.answer-content
							p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

							p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

							p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.

				li
					.question 
						p.fw-semi Nam invenire petentium gloriatur
						+icon("angle-down-solid")
					.answer 
						.answer-content
							p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

							p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

							p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.

				li
					.question
						p.fw-semi An pri ipsum elitr imperdiet
						+icon("angle-down-solid")
					.answer 
						.answer-content
							p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

							p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

							p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.
	section.contact
		.container 
			h2.title Contact us
			.contact-row 
				form.form 
					p.form-title Feedback form
					.flex-wrap
						label.half-50 
							input(type="text" placeholder="Your Name")
							span.error-message error
						label.half-50 
							input(type="text" placeholder="Your Email")
							span.error-message error
					.flex-wrap
						label.half-50 
							input(type="text" placeholder="Phone Number")
							span.error-message error
						label.half-50 
							.select
								select
									option(value="Choice Of Question Topic") Choice Of Question Topic
					label
						textarea(cols="30", rows="5" placeholder="Text Message")
					button.btn(type="submit") Send
				ul.contact-info
					li.d-flex 
						+icon("placeholder")
						div
							p.fs-18.fw-semi Office
							p 300 Cadman Plaza West, 12th Floor Brooklyn, New York 11201
					li.d-flex 
						+icon("telephone")
						div
							p.fs-18.fw-semi Phone / Fax
							p +1-929-575-4175
							p +1-929-575-4175
					li.d-flex 
						+icon("message")
						div
							p.fs-18.fw-semi Email Address
							p info@consumerattorneys.com





					



					


			