extends layout/main

block variables
	-var title = 'practice areas'
	-var social = false

block content
	.practice-areas
		.container
			ul.breadcrumbs
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#")
						img(src="img/blank_house_6306.png", alt="icon")
				+breadcrumbs-item('Practice Areas'  ,'#')
				+breadcrumbs-item('Telephone Consumer Protection Act')
			.flex-center-center
				div
					.femida 
						img.img-femida(src="img/femida02.png", alt="femida")
					h1.fs-30.fw-semi.text-up.text-center.c-white Telephone Consumer <br> Protection Act
	.container
		.box.d-flex.mt--97
			ul.areas-list
				li.flex-center-end 
					p.fs-18.fw-semi Practice Areas
				li.areas-item 
					.flex-center-between
						img(src="img/003_agenda_copy_6706.png", alt="icon")
						.align-items-center.w-100 
							p.areas-item__text.w-100 Bankruptcy
							+icon("arrow")
				li.areas-item 
					.flex-center-between 
						img(src="img/003_agenda_copy_6706.png", alt="icon")
						.align-items-center.w-100 
							p.areas-item__text.w-100 Collection letters
							+icon("arrow")
				li.areas-item 
					.flex-center-between 
						img(src="img/003_agenda_copy_6706.png", alt="icon")
						.align-items-center.w-100 
							p.areas-item__text.w-100 Telephone Consumer Protection Act
							+icon("arrow")
				li.areas-item 
					.flex-center-between
						img(src="img/003_agenda_copy_6706.png", alt="icon") 
						.align-items-center.w-100 
							p.areas-item__text.w-100 Fair Debt Collections Practices Act
							+icon("arrow")
				li.areas-item 
					.flex-center-between 
						img(src="img/003_agenda_copy_6706.png", alt="icon")
						.align-items-center.w-100 
							p.areas-item__text.w-100 Personal Injury'
							+icon("arrow")
				li.areas-item 
					.flex-center-between 
						img(src="img/003_agenda_copy_6706.png", alt="icon")
						.align-items-center.w-100 
							p.areas-item__text.w-100 Americans with Disabilities Act
							+icon("arrow")
				li.areas-item 
					.flex-center-between 
						img(src="img/003_agenda_copy_6706.png", alt="icon")
						.align-items-center.w-100 
							p.areas-item__text.w-100 Class Actions'Data Breach Litigation
							+icon("arrow")
				li.areas-item 
					.flex-center-between 
						img(src="img/003_agenda_copy_6706.png", alt="icon")
						.align-items-center.w-100 
							p.areas-item__text.w-100 Unlawful Background Checks
							+icon("arrow")
				li.areas-item 
					.flex-center-between 
						img(src="img/003_agenda_copy_6706.png", alt="icon")
						.align-items-center.w-100 
							p.areas-item__text.w-100 Credit Reporting Errors
							+icon("arrow")
				li.areas-item 
					.flex-center-between 
						img(src="img/003_agenda_copy_6706.png", alt="icon")
						.align-items-center.w-100 
							p.areas-item__text.w-100 Consumer Finance
							+icon("arrow")
				li.areas-item 
					.flex-center-between 
						img(src="img/003_agenda_copy_6706.png", alt="icon")
						.align-items-center.w-100 
							p.areas-item__text.w-100 Litigation
							+icon("arrow")
				li.areas-item 
					.flex-center-between 
						img(src="img/003_agenda_copy_6706.png", alt="icon")
						.align-items-center.w-100 
							p.areas-item__text.w-100 Fix Your Credit Score
							+icon("arrow")
			.areas-right
				.areas-right__head
					button.btn-back(type="button")
						+icon("arrow")
					p.fs-18.fw-semi Related pages
				.slider-pages
					.slider-pages-item
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
					.slider-pages-item
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
			
					.slider-pages-item
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
						a.card(href="#") 
							object
								img(src="img/layer_48_copy_6339.jpg", alt="img")
								.card__content
									p.card__text commune facilisis et eum. Ex vim tempor pericula imperdiet.
			
				.paginate
					button.btn-arrow.btn-prev(type="button" data-index="1")
						+icon("arrow")
					.paginate-left 1
					.paginate-center /
					.paginate-right 3
					button.btn-arrow.btn-next(type="button" data-index="1")
						+icon("arrow")
		.partner-main
			.justify-content-between.w-100.flex-wrap
				.partner-left
					.partner-avatar 
						img.partner-img(src="img/daniel-cohen-lawyer.jpg", alt="img")
						img.partner-check(src="img/tick.svg", alt="tick")
						img.partner-border(src="img/shield_frame.svg", alt="border")
					.text-center
						p.fs-30.fw-medium.mb-10 Daniel C. Cohen
						p Founding Partner
						.partner-left__text
							p is a founding partner of the Firm and is co-chair of the Firm’s consumer finance litigation department.
					a.btn.mx-auto(href="#") free consultation
				.partner-right_v2
					ul.questions-container_v2
						li.active
							.question
								p.fw-semi About Telephone Consumer Protection Act
								+icon("angle-down-solid")
							.answer 
								.answer-content
									p About Telephone Consumer Protection Act
									p Under the Fair Debt Collection Practices Act (FDCPA), surviving relatives are not obligated to pay the debts of a deceased family member, except in limited instances. Surviving family members are protected as third parties from abusive or deceptive collection practices under the FDCPA, and are afforded the same rights and remedies which would be available if the deceased debtor were still alive.

									p If you are paying the debts of a deceased family member, or are being pressured to do so by a debt collector, you may have legal recourse. To learn more about your rights and legal options under the FDCPA, please fill out our case evaluation form. Your claim will be reviewed by a debt harassment attorney at no cost or obligation to you.

						li
							.question
								p.fw-semi Frequently Asked Questions
								+icon("angle-down-solid")
							.answer 
								.answer-content
									p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

									p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

									p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.
						li
							.question 
								p.fw-semi Who is legally obligated to pay the debt of a relative who has passed away?
								+icon("angle-down-solid")
							.answer 
								.answer-content
									p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

									p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

									p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.
						li
							.question 
								p.fw-semi Are surviving spouses responsible for paying the debts of their loved one?
								+icon("angle-down-solid")
							.answer 
								.answer-content
									p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

									p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

									p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.
						li
							.question
								p.fw-semi Do I have to pay for my deceased parent’s debt?
								+icon("angle-down-solid")
							.answer 
								.answer-content
									p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

									p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

									p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.

						li
							.question 
								p.fw-semi What should I do if I’ve been contacted by a debt collector attempting to collect a debt of a relative who has died?
								+icon("angle-down-solid")
							.answer 
								.answer-content
									p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

									p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

									p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.

						li
							.question
								p.fw-semi Vim vero erant vocent id
								+icon("angle-down-solid")
							.answer 
								.answer-content
									p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

									p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

									p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.
	
	
						li
							.question
								p.fw-semi Nam invenire petentium gloriatur
								+icon("angle-down-solid")
							.answer 
								.answer-content
									p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

									p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

									p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.
	
						li
							.question
								p.fw-semi An pri ipsum elitr imperdiet
								+icon("angle-down-solid")
							.answer 
								.answer-content
									p Eum exerci maluisset in, usu omnes probatus suavitate cu. Sed cu graeci accumsan expetenda, ut qui alterum mediocrem patrioque, invenire repudiare in per. Lucilius reprehendunt nam eu. Ex tation facete eum, qui eleifend disputationi an, mel clita accusata imperdiet ea. Fierent expetenda ne mel, reque postulant democritum has ei, an aeque aliquando eam.

									p Putent explicari definitionem et eum, id sea choro voluptatibus. An mutat fierent adipiscing pro. Est option lucilius deserunt id, mel et latine dolores. Eu per utroque debitis tractatos, in duis corpora quo, his vidisse instructior cu. Alia quas populo eu vis, sea ad scaevola fabellas quaerendum. Mentitum scaevola mea ei, etiam scribentur persequeris in pro, ut nec choro option facilisis. Consetetur necessitatibus an cum.

									p Quod nominavi sea ea, cum cibo tamquam torquatos an, ei eam suas quidam copiosae. Ea solet tractatos cotidieque nam, nec dicit singulis tincidunt ea. At amet delenit vim, est quis saepe no. Probo eloquentiam ea sed, id velit affert disputationi nec. Duo rebum facilisi an, erat postea vivendum qui ne.

	section.contact.pt-90
		.container 
			h2.title Want a Free Consultation?
			.contact-row 
				form.form 
					p.form-title If you have a question, feel free to use the form below.
					.flex-wrap
						label.half-50 
							input(type="text" placeholder="Your Name")
							span.error-message error
						label.half-50 
							input(type="text" placeholder="Your Email")
							span.error-message error
					.flex-wrap
						label.half-50 
							input(type="text" placeholder="Phone Number")
							span.error-message error
						label.half-50 
							.select
								select
									option(value="Choice Of Question Topic") Choice Of Question Topic
					label
						textarea(cols="30", rows="5" placeholder="Text Message")
					button.btn(type="submit") Send
				ul.contact-info
					li.d-flex 
						+icon("placeholder")
						div
							p.fs-18.fw-semi Office
							p 300 Cadman Plaza West, 12th Floor Brooklyn, New York 11201
					li.d-flex 
						+icon("telephone")
						div
							p.fs-18.fw-semi Phone / Fax
							p +1-929-575-4175
							p +1-929-575-4175
					li.d-flex 
						+icon("message")
						div
							p.fs-18.fw-semi Email Address
							p info@consumerattorneys.com





					



					


			