footer.footer 
    .container
        .footer-top
            .footer-col 
                a.footer-logo(href="#")
                    +icon("icon", "footer-logo-icon")
                    +icon("logo_100x30", "footer-logo-img")

                ul.footer__contact
                    li.footer__contact-row
                        +icon("placeholder")
                        p.c-white 300 Cadman Plaza West, 12th Floor Brooklyn, New York 11201
                    li.footer__contact-row
                        +icon("telephone")
                        p.c-white +1-929-575-4175
                    li.footer__contact-row
                        +icon("message")
                        p.c-white info@consumerattorneys.com

                .flex-content-center.flex-wrap 
                    a.social(href="#")
                        +icon("facebook")
                    a.social(href="#")
                        +icon("instagram")
                    a.social(href="#")
                        +icon("twitter")
            ul.footer-col
                li.footer-main PRACTICE AREAS
                li.footer-item
                    a.footer-link(href="#") Collection letters
                li.footer-item
                    a.footer-link(href="#") Bankruptcy
                li.footer-item
                    a.footer-link(href="#") Class actions
                li.footer-item
                    a.footer-link(href="#") Data breach litigation
                li.footer-item
                    a.footer-link(href="#") Personal Injury
                li.footer-item
                    a.footer-link(href="#") Credit reporting errors
                li.footer-item
                    a.footer-link(href="#") Consumer finance litigation
                li.footer-item
                    a.footer-link(href="#") TCPA
                li.footer-item
                    a.footer-link(href="#") FDCPA
                li.footer-item
                    a.footer-link(href="#") Americans with disabilities act
                li.footer-item
                    a.footer-link(href="#") Unlawful background checks
            ul.footer-col
                li.footer-main about us
                li.footer-item
                    a.footer-link(href="#") Media
                li.footer-item
                    a.footer-link(href="#") Videos
                li.footer-item
                    a.footer-link(href="#") Referrals program
                li.footer-item
                    a.footer-link(href="#") FAQ
                li.footer-item
                    a.footer-link(href="#") Testimonials
                li.footer-item
                    a.footer-link(href="#") Resources
                li.footer-item
                    a.footer-link(href="#") Our community
                li.footer-item
                    a.footer-link(href="#") Articles
                li.footer-item
                    a.footer-link(href="#") Reviews
            ul.footer-col
                li.footer-main ATTORNEYS
                li.footer-item
                    a.footer-link(href="#") Diana Goodwin
                li.footer-item
                    a.footer-link(href="#") Shlomit Buchinsky
                li.footer-item
                    a.footer-link(href="#") Jonathan Weiss
                li.footer-item
                    a.footer-link(href="#") Moshe O. Boroosan
                li.footer-item
                    a.footer-link(href="#") Yosef Steinmetz
                li.footer-item
                    a.footer-link(href="#") Edward Y. Kroub
                li.footer-item
                    a.footer-link(href="#") Joseph H. Mizrahi
                li.footer-item
                    a.footer-link(href="#") Daniel C. Cohen
        .footer-bottom 
            p.fs-14.c-white
                |© 2020 
                a.c-green(href="#") Consumer Attorneys. 
                |All Rights Reserved. 
            ul.footer-bottom-menu  
                li.footer-bottom-item 
                    a.footer-bottom-link(href="#") Terms and conditions  
                li.footer-bottom-item 
                    a.footer-bottom-link(href="#") Cookies Policy
                li.footer-bottom-item 
                    a.footer-bottom-link(href="#") Privacy Notice



            